<div>
    <div class="row" ng-switch="vm.isAuthenticated()">			
        <div class="col-md-8 col-md-offset-2">
			<h2 style="text-align:left;">FHIR Target State Mapping - Patients</h2>
		   <p></p>
		   <br/>
           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="patientId">Id</label>
                    <div>
	                    <input type="text" class="form-control" id="patientId" name="patientId" placeholder="5005"
	                           ng-model="vm.search.id" ng-minlength=1 ng-maxlength=50 maxlength="50">
	                           
	                   	<div ng-show="form.patientId.$dirty && form.patientId.$invalid">
	                        <p class="help-block"
	                               ng-show="form.patientId.$error.minlength">
	                            patient Id is required to have a minimum of 1 character
	                        </p>
	                        <p class="help-block"
	                               ng-show="form.patientId.$error.maxlength">
	                            patient Id cannot be longer than 50 characters
	                        </p>
	                    </div>
                    </div>
				</div>
              <div class="form-group">
                	 <label class="control-label col-sm-1" for="startDate">Birth Start</label>
                	 <div class="col-sm-4">
						<datepicker date-format="yyyy-MM-dd">
						  <input type="text" ng-model="vm.search.startDate" name="patientStartDate" id="patientStartDate" type="text" placeholder="2015-01-01"/>
						</datepicker>
						<div ng-show="form.patientStartDate.$dirty && form.patientStartDate.$invalid">
	                        <p class="help-block"
	                               ng-show="form.patientStartDate.$error.required">
	                            Start Date is required.
	                        </p>
	                    </div>
			         </div>
			         <label class="control-label col-sm-1" for="endDate">Birth End</label>
                	 <div class="col-sm-4">
						<datepicker  date-format="yyyy-MM-dd">
						  <input type="text" ng-model="vm.search.endDate" name="patientEndDate" id="patientEndDate" type="text" placeholder="2018-01-01"/>
						</datepicker>
						<div ng-show="form.patientEndDate.$dirty && form.patientEndDate.$invalid">
	                        <p class="help-block"
	                               ng-show="form.patientEndDate.$error.required">
	                            End Date is required.
	                        </p>
	                    </div>
			         </div>
                </div>			
				<div class="form-group">
				    <div class="col-sm-10" style="padding-top:10px">
                		<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Search</button>
				    </div>
				</div>
				
			</form>
			</div>
        </div>
    </div>

</div>